Welcome to the home of Tidewater Womens Soccer League!

TWSL is a recreational soccer league.  Our sole purpose is to provide a fun and safe environment for women to play soccer in the Hampton Roads area. We provide opportunities for women of all ages above 18 and all skill levels.

We offer two different divisions to play in throughout the year:

Open Division (Fall,Winter, Spring, and Summer)
O-30 Division (Fall, Winter, Spring, and Summer)
We also offer Guest Lists for our players to play on as well.  Just look under the TWSL Information tab for further details.

New discounts available.  Current TWSL players can receive a $15.00 discount for each new player they refer to TWSL.  The new player will need to register and list the referring players name in order for the discount to be earned.  Discounts will take effect the following season.  (New players are players who have never played in TWSL before)