<table >
  <tr>
    <td>President: Ashley Parker</br><a href="twslpresident@gmail.com">twslpresident@gmail.com</a></td>
    <td>Vice President: Alex Westfall</br><a href="twslvicepresident@gmail.com">twslvicepresident@gmail.com</a></td>
  </tr>
  <tr>
    <td>Registrar: Debbie Marlowe</br><a href="twslregistration@yahoo.com">twslregistration@yahoo.com</a></td>
    <td>Treasurer: Michelle Dalton</br><a href="twsltreasurer@gmail.com">twsltreasurer@gmail.com</a></td>
  </tr>
  <tr>
    <td>Secretary: Rachel Axdahl</br><a href="twslsoccersecretary@gmail.com">twslsoccersecretary@gmail.com</a></td>
    <td>Communications/Technology Director: Melody McPherson</br><a href="twslcommunicationsdirector@gmail.com">twslcommunicationsdirector@gmail.com</a></td>
  </tr>
  <tr>
    <td>Open Division Coordinator: Michelle Schocklin</br><a href="twslopencoordinator@gmail.com">twslopencoordinator@gmail.com</a></td>
    <td>O-30 Division Coordinator: Trish Bennett</br><a href="twslover30coordinator@gmail.com">twslover30coordinator@gmail.com</a></td>
  </tr>
</table>

