<h3 style="text-align:center">General Information</h3>
<h6 style="text-align:center">
Each of the below links will open a PDF.
</h6>
<p>
<a href="\css\documents\TWSL FAQs.pdf">Frequently Asked Questions</a>
</p>
</br>
<p>
<a href="\css\documents\TWSL Bylaws2018.pdf">By Laws</a>
</p>
</br>
<p>
<a href="\css\documents\TWSL OutdoorRulesofPlay2017.pdf">Outdoor Rules of Play 2017</a>
</p>
</br>
<p>
<a href="\css\documents\TWSL IndoorRulesofPlayWinter2018.pdf">Indoor Rules of Play 2018</a>
</p>
</br>
<p>
Guestlist Procedures
<a href="">Guestlist Procedures 2016</a>
</p>