<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    <title>{{ .Title }}</title>
    {{ partial "meta.html" . }}

    <!-- favicon includes -->
    <link rel="icon" type="image/png" href="/css/images/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/css/images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/css/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" href="/css/images/favicons/older-iPhone.png" /> <!-- 120px -->
    <link rel="apple-touch-icon" sizes="180x180" href="/css/images/favicons/iPhone-6-Plus.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/css/images/favicons/iPad-Retina.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/css/images/favicons/iPad-Pro.png" />

    <!-- style includes -->
    <link rel="stylesheet" href="/browser_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/mobile.css" />

    <!-- script includes -->
    <script src="/browser_components/jquery/dist/jquery.min.js"></script>
    <script src="/browser_components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/browser_components/bootstrap/js/dropdowns-enhancement.js"></script>
    <script src="/browser_components/bluebird/js/browser/bluebird.js"></script>

</head>