{{ with .Site.Social.github }}

<a href="//github.com/{{.}}" class="bar-item button" target="_blank" title="Github"><i class="fa fa-github fa-2x"></i></a> {{ end }} {{ with .Site.Social.bitbucket }}

<a href="//bitbucket.com/{{.}}" class="bar-item button" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket fa-2x"></i></a> {{ end }} {{ with .Site.Social.jsfiddle }}

<a href="//jsfiddle.com/{{.}}" class="bar-item button" target="_blank" title="JSFiddle"><i class="fa fa-jsfiddle fa-2x"></i></a> {{ end }} {{ with .Site.Social.codepen }}

<a href="//codepen.io/{{.}}" class="bar-item button" target="_blank" title="Codepen"><i class="fa fa-codepen fa-2x"></i></a> {{ end }} {{ with .Site.Social.foursquare }}

<a href="//foursquare.com/{{.}}" class="bar-item button" target="_blank" title="Foursquare"><i class="fa fa-foursquare fa-2x"></i></a> {{ end }} {{ with .Site.Social.dribbble }}

<a href="//dribbble.com/{{.}}" class="bar-item button" target="_blank" title="Dribbble"><i class="fa fa-dribbble fa-2x"></i></a> {{ end }} {{ with .Site.Social.deviantart }}

<a href="//{{.}}.deviantart.com/" class="bar-item button" target="_blank" title="Deviantart fa-2x"><i class="fa fa-deviantart"></i></a> {{ end }} {{ with .Site.Social.behance }}

<a href="//behance.net/{{.}}" class="bar-item button" target="_blank" title="Behance"><i class="fa fa-behance fa-2x"></i></a> {{ end }} {{ with .Site.Social.flickr }}

<a href="//flickr.com/photos/{{.}}" class="bar-item button" target="_blank" title="Flickr"><i class="fa fa-flickr fa-2x"></i></a> {{ end }} {{ with .Site.Social.instagram }}

<a href="//instagram.com/{{.}}" class="bar-item button" target="_blank" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a> {{ end }} {{ with .Site.Social.youtube }}

<a href="//youtube.com/{{.}}" class="bar-item button" target="_blank" title="Youtube"><i class="fa fa-youtube fa-2x"></i></a> {{ end }} {{ with .Site.Social.vimeo }}

<a href="//vimeo.com/{{.}}" class="bar-item button" target="_blank" title="Vimeo"><i class="fa fa-vimeo fa-2x"></i></a> {{ end }} {{ with .Site.Social.vine }}

<a href="//vine.co/{{.}}" class="bar-item button" target="_blank" title="Vine"><i class="fa fa-vine fa-2x"></i></a> {{ end }} {{ with .Site.Social.medium}}

<a href="//medium.com/@{{.}}" class="bar-item button" target="_blank" title="Medium"><i class="fa fa-medium fa-2x"></i></a> {{ end }} {{ with .Site.Social.wordpress }}

<a href="//{{.}}.wordpress.com" class="bar-item button" target="_blank" title="Wordpress"><i class="fa fa-wordpress fa-2x"></i></a> {{ end }} {{ with .Site.Social.tumblr }}

<a href="//{{.}}.tumblr.com" class="bar-item button"  target="_blank" title="Tumblr"><i class="fa fa-tumblr fa-2x"></i></a> {{ end }} {{ with .Site.Social.xing }}

<a href="//xing.com/profile/{{.}}" class="bar-item button"  target="_blank" title="Xing"><i class="fa fa-xing fa-2x"></i></a> {{ end }} {{ with .Site.Social.linkedin }}

<a href="//linkedin.com/in/{{.}}" class="bar-item button"  target="_blank" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a> {{ end }} {{ with .Site.Social.slideshare }}

<a href="//slideshare.com/{{.}}" class="bar-item button"  target="_blank" title="Slideshare"><i class="fa fa-slideshare fa-2x"></i></a> {{ end }} {{ with .Site.Social.stackoverflow }}

<a href="//stackoverflow.com/users/{{.}}" class="bar-item button" target="_blank" title="Stackoverflow"><i class="fa fa-stackoverflow fa-2x"></i></a> {{ end }} {{ with .Site.Social.reddit }}

<a href="//reddit.com/user/{{.}}" class="bar-item button"  target="_blank" title="Reddit"><i class="fa fa-reddit fa-2x"></i></a> {{ end }} {{ with .Site.Social.pinterest }}

<a href="//pinterest.com/{{.}}" class="bar-item button" target="_blank" title="Pinterest"><i class="fa fa-pinterest fa-2x"></i></a> {{ end }} {{ with .Site.Social.googleplus }}

<a href="//plus.google.com/+{{.}}" class="bar-item button"  target="_blank" title="Google+"><i class="fa fa-googleplus fa-2x"><//i></a> {{ end }} 

{{ with .Site.Social.facebook }}
<a href="//facebook.com/{{.}}" class="bar-item button" target="_blank" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
{{ end }}
 
{{ with .Site.Social.twitter }}
<a href="//twitter.com/{{.}}" class="bar-item button" target="_blank" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a> {{ end }}


