
        <li class="nav-item"><a href="/#home">Home</a></li>
        <li class="nav-item"><a href="/#about">About</a></li>
	    <li class="nav-item"><a href="/#faqs">FAQs</a></li>
        <li class="nav-item"><a href="/#schedule">Schedule</a></li>
        <li class="nav-item"><a href="/#teams">Rosters</a></li>
        <li class="nav-item"><a href="/#registration">Registration</a></li>
        <li class="nav-item"><a href="/#board">Board</a></li>
        <li class="nav-item"><a href="/#contact">Contact Us</a></li>        
        <li class="nav-item"><a href="https://www.premiersoccer.com/twsl">Shop</a></li>
        </li>