<h3 style="text-align:center">Winter 2018 registration will run from December 1st through December 31st</h3>
</br>
<p>
Location: Western Branch Community Center, 4437 Portsmouth Blvd, Chesapeake, VA 23321
</p>
</br>
<p>
TWSL offers two divisions for the Winter 2018 indoor season:
</p>
</br>
<p>
<b>Open Division (18 and up):</b> Open Division games will be played on Sunday afternoons at 2:00 and 3:15, beginning January 14th.  You may register as an individual and get assigned to a team OR players may form their own teams.  Team Representatives (TRs) will need to submit team rosters (partial rosters are OK) and team names to twslregistration@yahoo.com by December 20th.  Our team formation meeting is scheduled for January 3rd.  Any player who registers after team formation will not be guaranteed placement on their requested team.
</p>
</br>
<p>
<b>Over 30 Division (30 and up):</b> Over 30 Division games will be played on Friday nights at 7:00 and 8:15, beginning January 12th. You may register as an individual or you may have two reciprocal requests, for a total group of three players requesting to play together on the same team. Our team formation meeting is scheduled for January 3rd. Any player who registers after team formation will not be guaranteed placement with their reciprocal request.
</p>
</br>
<p>
The cost for playing in one division is $57. If you are eligible to play in both Open and Over30, the cost is $99 for both divisions.
</p>
</br>
<p>
For players that can't commit to a whole season of games, we also offer the option to join our guest player lists. These lists are used to provide additional players for teams that are short players. Guest players are NOT guaranteed to play during the season--it depends on the need of the teams. PLEASE NOTE: The new Guest Player fee is $8 per game. Guest players will be charged $40 at the time of registration, giving each guest list player a bank of credits to be used throughout the season. Please refer to the revised guest list policy for complete details.
</p>
</br>
<p>
Please also consider signing up as a Team Representative (TR) this season!!  Responsibilities include: coordinating your team each week, sending reminder emails and obtaining head counts for each game, requesting guest players as needed, relaying league information as needed, acting as team captain on game days.  Attendance at the team formation meeting is not required.   If you serve as a TR, you will receive a $10 discount on your next registration.
</p>